.modal-content {
  border-radius: 14px !important;
  border:0 !important;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,.4) !important;
  -moz-box-shadow: 0 20px 40px 0 rgba(0,0,0,.4) !important;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,.4) !important;
  font-family: Roboto !important;
  font-weight:400 !important;
  color: #000 !important;
}